html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color-scheme: dark;
}

:root {
  --ant-layout-color-bg-header: #141414;
  --ant-layout-color-bg-trigger: #1f1f1f;
  --ant-layout-color-bg-body: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}
